<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
            <form action="" method="POST" name = 'Smiles'>
                <center>
                    <h1>Оцiнiть нашу роботу</h1>
                    <h3>(тисни на смайл)</h3>

                    <input type=image src="static/good.png" value="good" name="submit">
                    <input type=image src="static/normal.png" value="normal" name="submit">
                    <input type=image src="static/bad.png" value="bad" name="submit">
                </center>
            </form>
    </body>
</html>