<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
    <body>
            <form action="" method="POST" name = 'Smiles'>
                <center>
                <div class="outer">
                  <div class="middle">
                    <div class="inner">
                    <h1>Оцените наш офис</h1>
                    <h3>(жми смайл)</h3>

                    <input type=image src="static/good.png" height="300" value="good" name="submit">
                    <input type=image src="static/normal.png" height="300" value="normal" name="submit">
                    <input type=image src="static/bad.png" height="300" value="bad" name="submit">
                    </div>
                  </div>
                </div>
                </center>
            </form>
    </body>
</html>