<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" http-equiv="refresh" content="1" />
    <title>Thanks</title>

<style media="screen" type="text/css">
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}
</style>

</head>
<body>
<center>



<div class="outer">
  <div class="middle">
    <div class="inner">

      <h1>Спасибо!</h1>
      <p>Ваша оценка важна для нас.</p>

    </div>
  </div>
</div>


</center>

</body>
</html>